:root {
  --bgColor: #161719;
}

.container{

  margin-bottom: 5px;

  & div {
    outline: none;
    font-size: 12px;
    font-family: monospace;
    /*text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.4);*/
    margin:0;
  }

  & p {
    margin:0;
  }
}
